{% block menu %}
    {% spaceless %}
    
    <ul class="nav nav-tabs"> {# may want to make this class attribute configurable as well, see block below #}
        <li class="{{ root.classes.li }}">
            <a class="{{ root.classes.li }}" href="{{ path( root.route ) }}"><div class="tab__heading">{{ root.label }}</div></a>
        </li>
        {% if root.children | length > 0 %}
            {% for category in root.children %}
                {% if category.children | length > 0 %}
                <li class="{{ category.classes.li }}">                 
                    <a ><div class="tab__heading" >{{ category.label }}</div></a>               
                    <ul class="dropdown__fix" style="display:none;" >
                        {% for item in category.children %}
                            <li><div class="li-content" data-url="{{ path( item.route ) }}" data-label="{{ item.label }}">
                            		<a class="{{ item.classes.a }}" href="{{ path( item.route ) }}">
                                    {% if item.icon != null %}<span class="{{item.icon}} pad-right-5"></span>{% endif %}
                                    {{ item.label }}
                                  </a>
                                  </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
    {% endspaceless %}
{% endblock menu %}

{% block sub_menu %}
    {% spaceless %}
    <div class="secondary-tabs">
    <ul class="{{ root.classes.ul }}">
        {% if root.children | length > 0 %}
            {% for item in root.children %}
                <li class="tab" {% if item.title != null %}title="{{ item.title }}"{% endif %}>
                    <a 
                        {% if ( item.route and item.route == app.request.attributes.get( '_route' ) ) %}active{% endif %}
                        {% if root.children | length > 1 %}
                            {% if loop.first %}first{% elseif loop.last %}last{% endif %}
                        {% else %}
                            unique
                        {% endif %}"
                       href="{{ path( item.route ) }}"><div class="{{ item.classes.a }}">
                        {% if item.icon != null %}<span class="{{item.icon}} pad-right-5"></span>{% endif %}
                            {{ item.label }}
                       </div>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    </div>
    {% endspaceless %}
{% endblock sub_menu %}
